#root {
  
  max-width: 1280px;
  margin: 2px ;
  padding-top: 0px;
  text-align: center;
}

.display{
  font-size: 30em;
  color: hsl(253, 100%, 50%);
  border: 2px solid ;
  margin-top: 0;
  margin-bottom: 0.1em ;
  
}

.count-button{
  background-color: hsl(180, 100%, 50%);
  margin-top: 0px;
  width: 210px;
  height: 60px;
  margin-right: 11px ;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  color: hsl(256, 97%, 40%);
  
}
.count-button:hover{
  background-color:  hsl(180, 100%, 40%);
  color: aliceblue;
}